.scan-item{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom:1px solid $gray-accent-color;
    color:$text-color;

    .icon{
        font-size: 23px;
        cursor: pointer;
    }

    span{
        flex:1;
    }
}