@import "../../style/colors";

.login{
    display: flex;
    height:100vh;
    margin: auto;
    color:$text-color;
    padding: 0px 10px;

}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;

    p{
        color:$secondary-text-color;
    }

    h1{
        border-bottom: 3px solid $accent-color;
    }

    button{
        background-image: linear-gradient(to top right, $accent-color, violet);
        width: 100%;
        border: none;
        border-radius: 5px;
        color: $primary-color;
        font-weight: bold;
        cursor: pointer;
        padding: 10px;
        font-size: 20px;
        margin-bottom: 20px;
        transition: 0.5s;
        opacity: 0.6;
        width:50%;
        align-self: center;

        &:hover{
            opacity: 1;
            transition: 0.5s;
        }
    }

    // button{
    //     background-color: $accent-color;
    //     color:#FFF;
    //     width:25%;
    //     padding: 10px;
    //     font-weight: bold;
    //     cursor:pointer;
    //     border:none;
    //     align-self: center;
    //     border-radius:5px;
    //     font-size: 20px;

    //     &:hover{
    //         background-color: $hover-color;
    //     }
    // }

}

.right{
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        height:90%;
        width:80%

    }
}