$primary-color: #FFFFFF;
$secondary-color: #EEEEEE;
$accent-color: #058ed9;
$gray-accent-color: #bfc0c0;
$hover-color:#0a7ab7;
$text-color: #403C3D;
$secondary-text-color: grey;
$gradient: linear-gradient(to top right, $accent-color, violet);


//=====ICONS COLOR AND BACKGROUNDS======//
$icon-background-blue: rgba(7, 162, 224, 0.1);
$icon-color-blue: rgb(7,162,224);

$icon-background-red: rgba(224, 7, 29, 0.1);
$icon-color-red: rgb(224, 7, 29);

$icon-background-green: rgba(7, 224, 58, 0.1);
$icon-color-green: rgb(7, 224, 58);

$icon-background-yellow: rgba(224, 184, 7, 0.1);
$icon-color-yellow: rgb(224, 184, 7);


