.sidebar{
    min-height:100vh;
    width:50px;
    background-color: $secondary-color;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top{
        padding-top: 50px;
    }

    .icon{
        color:$gray-accent-color;
        display: flex;
        justify-content: center;
        padding: 10px;
        cursor: pointer;
        
        &:hover{
            color:$accent-color;
        }

        
    }

    .selected{
        color:$accent-color;
        display: flex;
        justify-content: center;
        padding: 10px;
        cursor: pointer;
    }
}