.login-form{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
    padding: 2%;
}
h2{
    margin-bottom: 10px;
    font-size: 40px;
    color: #303030;
}
#cyberText{
    font-size: 20px;
    margin-bottom: 50px;
    color: grey;
}
input[type=email] {
    border: none;
    border-radius: 5px;
    background-color: $secondary-color;
    padding: 10px;
    outline: none;
    font-size: 20px;
    margin-bottom: 15px;
}
input[type=email]:focus {
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid $accent-color;
    background-color: $primary-color;
}
input[type=password] {
    border: none;
    border-radius: 5px;
    background-color: $secondary-color;
    padding: 10px;
    outline: none;
    font-size: 20px;
    margin-bottom: 50px;
}
input[type=password]:focus {
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid $accent-color;
    background-color: $primary-color;
}
.button{
    background-image: $gradient;
    width: 100%;
    border: none;
    border-radius: 5px;
    color: $primary-color;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    transition: 0.5s;
    opacity: 0.6;
}
.button:hover{
    opacity: 1;
    transition: 0.5s;
}
.p{
    text-align: center;
    color: #303030;
}
#userLink{
    color: $accent-color;
    transition: 0.5s;
}
#userLink:hover{
    cursor: pointer;
    color: $hover-color;
    transition: 0.5s;
}

.input-wrapper{
    position:relative;

    input{
        padding-left: 40px;
    }

    label svg{
        position: absolute;
        left: 0.75rem;
        top: 0.75rem;
        font-size: 1.25rem;
        font-size: 20px;
    }
}
